<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>Easy Operate</title>
   
</head>
<body>
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/css")
    @RenderSection("Css", false)
    @RenderBody()



    @RenderSection("scripts", required: false)
</body>
</html>